<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
<!--    https://logback.qos.ch/manual/configuration.html#syntax-->
<!--    <! - Определите адрес хранения файла журнала. Не используйте относительные пути в конфигурации LogBack->-->
    <property name="LOG_HOME" value="target/log" />

<!--    <! - Консольный вывод->-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--            <! - Форматированный вывод:% d означает дату,% thread означает имя потока,% -5level: уровень отображает 5 символов слева.% Msg: сообщение журнала,% n - разрыв строки->-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <! - генерировать файлы журналов каждый день->-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--            <! - Имя файла выходного файла журнала->-->
            <FileNamePattern>${LOG_HOME}/TestWeb.log.%d{yyyy-MM-dd}.log</FileNamePattern>
<!--            <! - Дни хранения файла журнала->-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--            <! - Форматированный вывод:% d означает дату,% thread означает имя потока,% -5level: уровень отображает 5 символов слева.% Msg: сообщение журнала,% n - разрыв строки->-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
<!--        <! - Максимальный размер файла журнала->-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.example.Logback" level="debug">
        <appender-ref ref="FILE" />
    </logger>


<!--    <! - Уровень выхода журнала->-->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>